.noty {
    border-radius: 5px;
    color: var(--color-text);
    padding: 11px 25px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noty.success {
    background-image: linear-gradient(45deg, #38d461, #11ca4a);
}

.noty.error {
    background-image: linear-gradient(45deg, #fb6868, #ff3434);
}
