.loader,
.loader:after,
.loader:before {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s ease-in-out infinite;
    animation: load7 1.8s ease-in-out infinite;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
}

.loader {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    color: #2053f4;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
}

.loader:after,
.loader:before {
    content: "";
    position: absolute;
    top: 0;
}

.loader:before {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    left: -3.5em;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    to {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    to {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
