::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table {
    min-width: 100%;
    text-align: center;
}

td,
th {
    padding: 12px 0;
}

thead {
    border-bottom: 1px solid var(--color-secondary);
}

tr:not(:last-of-type) {
    border-bottom: 1px solid var(--color-secondary);
}
